# git
.git
.gitignore

# worktrees
.worktrees/

# docker
.docker

# python
app/__pycache__
app/*/__pycache__
app/*/*/__pycache__
app/*/*/*/__pycache__
.env/
.venv/
venv/
env/

# frontend
frontend/.env

